# Lost Hills Elementary Awards

Students in Lost Hills are given an award based on whether they have earned As and Bs in their classes. The different categories that the students fall under will be determined to find out which award they have earned.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# LIST STU GRD CRS TCH STU.SC STU.ID STU.NM STU.GR GRD.CN CRS.CO GRD.M1 GRD.M2 GRD.M3 GRD.M4 GRD.M5 GRD.M6 TCH.TE BY TCH.TE GRD.CN 

marks = pd.read_excel(r"C:\Users\derek.castleman\Desktop\Marks.xlsx")
marks

## Grade Points

The term of grades that are of interest will be selected and then filtered down to only the classes that have grades. Then students will be given a point value based on the grade that they received in a class.

In [ ]:
# Selecting Mark of Interest
e = input("Mark that you are interested: Mark1, Mark2, etc...    ")
e

In [ ]:
# Narrows down the columns
marks = marks[['School', 'Student ID', 'Student Name', 'Grade', 'Course title', 'Teacher name', e]]
marks

In [ ]:
# Selects classes where there are only a grade
marks = marks[marks[e].notna()]
marks

In [ ]:
# Selects A grades
grade_a = marks[(marks[e] == 'A+') | (marks[e] == 'A') | (marks[e] == 'A-')]
grade_a

In [ ]:
# Assigns a value of 2 for each A
grade_a['Score'] = 2
grade_a

In [ ]:
# Selects the B grades
grade_b = marks[(marks[e] == 'B+') | (marks[e] == 'B') | (marks[e] == 'B-')]
grade_b

In [ ]:
# Gives a value of 1 for each B grade
grade_b['Score'] = 1

In [ ]:
grade_b

In [ ]:
# Selects all grades that are under B
other = marks[marks[e] > 'B-']
other

In [ ]:
# Gives 0 points for all these other grades
other['Score'] = 0
other

In [ ]:
# Puts all of the different grades back together again
marks = pd.concat([grade_a, grade_b, other])
marks

In [ ]:
# Sums up the points that the students earned on their grades
marks = marks.groupby(by = ['School', 'Student ID', 'Student Name', 'Grade', 'Teacher name'])['Score'].sum().reset_index()
marks

## Categories

The different categories that the students will be placed into will be determined by the grade level that they are in since lower grades have only two classes and upper grades three as well using the total score of points they have attained through the grades they have earned.

In [ ]:
# Selecting students in the lower grades
lower = marks[marks['Grade'] < 5]
lower

In [ ]:
# Selects students with a score of 4
justalower = lower[lower['Score'] == 4]
justalower

In [ ]:
# These students are given a category of All A
justalower['Category'] = 'All A'
justalower

In [ ]:
# Selects students with a score of 2
justblower = lower[lower['Score'] == 2]
justblower

In [ ]:
# Students are given a category of All B
justblower['Category'] = 'All B'
justblower

In [ ]:
# Students with a total of 3 points are selected
ablower = lower[lower['Score'] == 3]
ablower

In [ ]:
# Students are given a category of AB
ablower['Category'] = 'AB'
ablower

In [ ]:
# Students with less than two points are selected
allelse = lower[lower['Score'] < 2] 
allelse

In [ ]:
# Students are given a category of none
allelse['Category'] = 'None'
allelse

In [ ]:
# The four different student groups are put back together
lower = pd.concat([justalower, justblower, ablower, allelse])
lower

In [ ]:
# The upper level grades are chosen
upper = marks[(marks['Grade'] == 5) | (marks['Grade'] == 6)]
upper

In [ ]:
# All students with a score of 6 are chosen
allaupper = upper[upper['Score'] == 6]
allaupper

In [ ]:
# Students are assigned a category of All A
allaupper['Category'] = 'All A'

In [ ]:
allaupper

In [ ]:
# Students with a score of 3 are chosen
allbupper = upper[upper['Score'] == 3]
allbupper

In [ ]:
# Students are assigned a category of All B
allbupper['Category'] = 'All B'
allbupper

In [ ]:
# Students with a score of 4 or 5 are chosen
abupper = upper[(upper['Score'] == 4) | (upper['Score'] == 5)]
abupper

In [ ]:
# Students are given a category of AB
abupper['Category'] = 'AB'
abupper

In [ ]:
# Students with less than 3 are chosen
other = upper[upper['Score'] < 3]
other

In [ ]:
# Students are given a category of None
other['Category'] = 'None'

In [ ]:
other

In [ ]:
# The four groups are put back together again
upper = pd.concat([allaupper, allbupper, abupper, other])
upper

In [ ]:
# Put lower and upper graders together
allstudents = pd.concat([upper, lower])
allstudents

In [ ]:
import base64
from IPython.display import HTML

def create_download_link( df, title = "Lost Hills Awards", filename = "Lost Hills Awards"):
    csv = df.to_csv()
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

create_download_link(allstudents)